body{
    background: #efefef;
    text-align: center;
}
ul.nav{
    width:100%;
    text-align: right;
}
div.row{
    width: 100%;
}
img.mx-1{
    padding-right: 100px;
}
img.mx-2{
    padding-left: 100px;
}
.about {
    background-image: url('https://images6.alphacoders.com/107/thumb-1920-1070119.jpg');
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 241px 0 141px;
    background-position: top;
    font-size: 16px;
    margin: 0 0 25px;
}
.container-fixed {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 1125px;
    margin: 0 auto;
    padding: 0 15px;
}
.about-box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 491px;
    height: 340px;
    padding: 40px;
    text-align: left;
}
img.social{
    width: 25px;
    height: 25px;
    margin-left:1rem!important;
}
